Repository daishir0/slack-claude-code-integration: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --check {staged_files}

eslint:
  run: npx eslint {staged_files}

docs: CLAUDE.mdファイルを追加
  CLAUDE.md
Due: prettier

refactor: TypeScriptへの完全移行
  .gitignore
  CLAUDE.md
  README.md
  claude-code-mcp/Dockerfile
  claude-code-mcp/index.ts
  claude-code-mcp/package.json
  eslint.config.js
  lefthook.yml
  package.json
  scripts/post-build.sh
  slack-bot/Dockerfile
  slack-bot/index.ts
  slack-bot/package.json
  start-test.sh
  tsconfig.json
Due: prettier, eslint

feat: AWS EC2デプロイメント用のCDKインフラストラクチャを追加
  infrastructure/.gitignore
  infrastructure/.npmignore
  infrastructure/README.md
  infrastructure/bin/infrastructure.ts
  infrastructure/cdk.context.json
  infrastructure/cdk.json
  infrastructure/deploy-and-test.sh
  infrastructure/deploy.sh
  infrastructure/install-claude-cli.sh
  infrastructure/jest.config.js
  infrastructure/lib/infrastructure-stack.ts
  infrastructure/lib/slack-bot-secrets-stack.ts
  infrastructure/lib/slack-claude-ec2-stack.ts
  infrastructure/package.json
  infrastructure/remote-test.sh
  infrastructure/setup-secrets.sh
  infrastructure/slack-test-guide.md
  infrastructure/test-bot.sh
  infrastructure/test-instance.sh
  infrastructure/test/infrastructure.test.ts
  infrastructure/tsconfig.json
Due: prettier, eslint

tmux統合への完全移行と不要ファイルの削除
  .env.example
  .gitignore
  README.md
  claude-code-mcp/.env.example
  claude-code-mcp/Dockerfile
  claude-code-mcp/index.js
  claude-code-mcp/index.ts
  claude-code-mcp/package.json
  docker-compose.yml
  infrastructure/.gitignore
  infrastructure/.npmignore
  infrastructure/README.md
  infrastructure/bin/infrastructure.ts
  infrastructure/cdk.context.json
  infrastructure/cdk.json
  infrastructure/deploy-and-test.sh
  infrastructure/deploy.sh
  infrastructure/install-claude-cli.sh
  infrastructure/jest.config.js
  infrastructure/lib/infrastructure-stack.ts
  infrastructure/lib/slack-bot-secrets-stack.ts
  infrastructure/lib/slack-claude-ec2-stack.ts
  infrastructure/package.json
  infrastructure/remote-test.sh
  infrastructure/setup-secrets.sh
  infrastructure/slack-test-guide.md
  infrastructure/test-bot.sh
  infrastructure/test-instance.sh
  infrastructure/test/infrastructure.test.ts
  infrastructure/tsconfig.json
  lefthook.yml
  scripts/post-build.sh
  scripts/setup.sh
  slack-bot/Dockerfile
  slack-bot/async-executor.ts
  slack-bot/index.js
  slack-bot/index.ts
  slack-bot/session-manager.ts
  slack-bot/tmux-connector.ts
  start-test.sh
Due: prettier, eslint

完了判定と出力処理の改善
  package.json
  slack-bot/async-executor.ts
  slack-bot/package.json
  slack-bot/tmux-connector.ts
Due: prettier

Remove CLAUDE.md from repository
  CLAUDE.md
Due: prettier

Clean up repository: Remove unused files and update configs
  .env.example
  .prettierignore
  .prettierrc.json
  LICENSE
  eslint.config.js
  package.json
  slack-bot/.env.example
Due: prettier, eslint

Update LICENSE: Change author name to daishir0
  LICENSE
Due: none

Update README: Add English version and acknowledgments
  README.md
Due: prettier

Update acknowledgments wording
  README.md
Due: prettier

Fix msg_too_long error and improve completion detection
  slack-bot/async-executor.ts
  slack-bot/tmux-connector.ts
Due: none

Add completion detection stability check
  slack-bot/async-executor.ts
Due: none

Improve README and generalize environment-specific paths
  README.md
  slack-bot/async-executor.ts
Due: prettier

Update README to match actual implementation
  README.md
Due: prettier

Fix tmux polling and enable multi-session monitoring
  slack-bot/async-executor.ts
  slack-bot/tmux-connector.ts
Due: none

Silence monitoring restart notification message
  slack-bot/async-executor.ts
Due: none

Skip duplicate message sending instead of notifying
  slack-bot/async-executor.ts
Due: none

Add Slack DM file upload bash script
  tools/send_file_to_dm.sh
Due: none

Fix DM channel ID to D09PDFREBGF
  tools/send_file_to_dm.sh
Due: none

Path conditions:
  prettier: any of: *.{js,json,md,yml,yaml}
  eslint: any of: *.js
